﻿@namespace FrontEnd

@inject MyChartJs chartJs
@inject WebResolver Resolver;
@implements IDisposable
<h3>Test</h3>

<div>
    <canvas id="ETHLine"></canvas>
</div>

@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Resolver.EBitopro += OnNotify;

            await chartJs.ETHLine(
            new decimal[] { }, 0, 0);
        }
    }

    public async void OnNotify(DCoin coin)
    {
        await InvokeAsync(async () =>
        {
            await chartJs.ETHLine(
                new decimal[] { coin.ETH, 0, 0, 0 }, coin.ETH + (coin.ETH / 100), coin.ETH - (coin.ETH / 100));
        });
    }

    public async void Dispose()
    {
        Resolver.EBitopro -= OnNotify;
        await chartJs.ETHLine(null, 0, 0);
    }
}
